    @import "tailwindcss";
    @layer components {
    .rotate-gradient {
        position: absolute;
        height: 100%; 
        width: 100%; 
        content: '';
        animation: rotate 4s linear infinite;
        background: linear-gradient(to bottom right, #a3e5d9, #4fb1b2);
        z-index: 0; 
        
    }
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0) rotate(12deg);
    }
    50% {
        transform: translateY(-20px) rotate(12deg);
    }
    }
    
    .arrow-bounce {
    animation: bounce 2s infinite ease-in-out;
    }
/* 
    @keyframes rotate {
        from {
        transform: rotate(0deg);
        }
        to {
        transform: rotate(360deg);
        }
    } */
    }
    html {
        scroll-behavior: smooth;
        }